asgiref
crispy-bootstrap4
cloudinary
dj-database-url
Django
django-crispy-forms
django-environ
django-cloudinary-storage
gunicorn
packaging
pillow
psycopg2-binary
python-decouple
python-dotenv
sqlparse
whitenoise
